/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
/* * {
  padding: 0;
  box-sizing: border-box;
} */
body {
  margin: 0;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}
canvas {
  display: block;
}

.font-exo {
  font-family: "Exo 2", sans-serif;
}

.font-space-mono {
  font-family: "Space Mono", monospace;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}
